name: "publish"

on:
  workflow_dispatch:

jobs:
  create-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create-release.outputs.result }}
      version: ${{ steps.version.outputs.version }}

    steps:
      - uses: actions/checkout@v6

      - name: get version
        id: version
        uses: actions/github-script@v8
        with:
          script: |
            const { version } = require('./backend/tauri.conf.json')
            core.setOutput('version', version)

      - name: create release
        id: create-release
        uses: actions/github-script@v8
        env:
          VERSION: ${{steps.version.outputs.version}}
        with:
          # TODO: see if release already exists (e.g. re-run of failed workflow), then re-use it
          script: |
            const { data } = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: process.env.VERSION,
              name: `v${process.env.VERSION}`,
              body: "See changelog for detailed information",
              draft: true,
              prerelease: false
            })
            console.log("Created release with id:", data.id);
            return data.id

  build-tauri:
    needs: create-release
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "windows-latest"
            bundles: "nsis"

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: get version
        id: version
        uses: actions/github-script@v8
        with:
          script: |
            const { version } = require('./backend/tauri.conf.json')
            core.setOutput('version', version)

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install frontend dependencies
        run: bun install

      - name: Set verbose flag if in debug mode
        uses: actions/github-script@v8
        env:
          ACTIONS_STEP_DEBUG: ${{ secrets.ACTIONS_STEP_DEBUG }}
        with:
          script: |
            const isDebug = process.env.ACTIONS_STEP_DEBUG === 'true';
            core.exportVariable('TAURI_VERBOSE_FLAG', isDebug ? '--verbose' : '');

      - name: Build args
        id: build-args
        uses: actions/github-script@v8
        with:
          script: |
            const bundles = '${{ matrix.bundles }}';

            let args = [];
            if (bundles) args.push(`--bundles ${bundles}`);

            core.setOutput('args', args.join(' '));

      - uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          releaseId: ${{ needs.create-release.outputs.release_id }}
          args: ${{ steps.build-args.outputs.args }} ${{ env.TAURI_VERBOSE_FLAG }}
          uploadUpdaterJson: true
          tagName: ${{ steps.version.outputs.version }}
          # As the release is not published yet, this must be set: https://github.com/tauri-apps/tauri-action?tab=readme-ov-file#tips-and-caveats
          releaseDraft: true

  publish-release:
    permissions:
      contents: write
      actions: write
    runs-on: ubuntu-latest
    needs: [create-release, build-tauri]

    steps:
      - name: publish release
        id: publish-release
        uses: actions/github-script@v8
        env:
          release_id: ${{ needs.create-release.outputs.release_id }}
        with:
          script: |
            await github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: process.env.release_id,
              draft: false,
            })
